
<!DOCTYPE html>
<html lang="en">
<head>


        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
        <script type="text/javascript" src="{% static 'login/login_functions.js' %}"></script>
        
        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>

<body>
<div id="header">
  <!-- <img id="image" src="images/Logo simple portada.png" height="100px" width="100px">-->
</div>

  <div id="title" style="font-size:13px;color:white;width:260px;padding:5px 5px;font-family:Arial;"><span>Welcome to Hitmap.</span><br><br>
    Know your territorial positioning. Find where your target customers are in the city. And predict sales for any new location.
</div>

<div id="div_content">
    <div class="div_in_content">
        <table>
            <tr><td> <input type="text" placeholder="e-mail" id="signin_email" class="fix_input_text"> </td></tr>
            <tr><td> <input type="password" placeholder="password" id="signin_password" class="fix_input_text"> </td></tr>
            <tr><td> <button class="sign_in_up_button" onClick="sign_in()" >Sign In!</button> </td></tr>
        </table>
    </div>
    <br>
    <br>
    <br>

    <div class="div_in_content">
        <table>
                <tr><td> <span>New in hitmap? Sign up!</span> </td></tr>
                <tr><td> <input id="signup_first_name" type="text" placeholder="first name" class="fix_input_text"> </td></tr>
                <tr><td> <input id="signup_last_name" type="text" placeholder="last name" class="fix_input_text"> </td></tr>
                <tr><td> <input id="signup_email" type="text" placeholder="e-mail" class="fix_input_text"> </td></tr>
                <tr><td> <input id="singup_password" type="password" placeholder="password" class="fix_input_text"> </td></tr>
                <tr><td> <input id="singup_terms" type="checkbox"/><span>I accept <a href="{% url 'login:terms' %}">terms and conditions</a></span></td></tr>
            <tr><td> <button class="sign_in_up_button" onClick="sign_up()" >Sign Up!</button></td></tr>
        </table>
    </div>
        <br>
        <br>
        <br>
        <br>

   <div id="cont">
    {% if  user_exist %}
      <div id = "mensaje" > {{ user_exist }} </div>
       <script type="text/javascript">
           var div = document.getElementById("cont");
           div.style.display = "block";
       </script>
    {% endif %}
   </div>

   <div id="cont2">
    {% if wrong %}
      <div id="mensaje2"> {{ wrong }} </div>
        <script type="text/javascript">
           var div = document.getElementById("cont2");
           div.style.display = "block";
       </script>
    {% endif %}
   </div>

  <div id="footer">
  </div>
</div>

</body>
</html>
