<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'login/style.css' %}" />
	</head>
	<body>
		<h1>Terms and Conditions</h1>
		<div id="terms_text">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse volutpat quam mi, eu ultricies diam volutpat sit amet. Donec id metus at ipsum tempor molestie. In hac habitasse platea dictumst. Quisque aliquet, nulla sed posuere pellentesque, lectus lacus condimentum turpis, in rutrum eros dolor id sapien. Fusce ut vehicula sapien. Maecenas cursus, nisi quis vestibulum dictum, arcu lorem porta lectus, vel sagittis augue neque nec tortor. Maecenas et euismod augue, vitae cursus mi. Fusce hendrerit libero mi, in pulvinar nisi maximus sed. Quisque tempor nisi non eros porta, eget gravida augue fermentum. Cras congue id tellus sit amet vulputate. In hac habitasse platea dictumst. Suspendisse potenti.</p>
			<br>
			<p>Sed mattis eleifend mauris, vitae sagittis nulla placerat a. In lobortis vehicula magna eu tempus. Nullam cursus erat mi, at efficitur dui eleifend vitae. Etiam ut vehicula est, hendrerit sodales diam. Vivamus interdum sagittis porttitor. Morbi blandit leo nisl, id mollis mauris blandit vitae. Nullam egestas venenatis elit vitae accumsan. Quisque ornare egestas felis, sit amet interdum lectus congue id. Duis ultrices tellus eros, in elementum erat condimentum vel. Curabitur eget sem nunc.</p>
			<br>
			<p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc nisi enim, auctor ac mauris ut, cursus viverra ante. Nullam massa massa, posuere eu accumsan pellentesque, faucibus eu enim. Proin malesuada tincidunt nulla, in interdum tortor. Suspendisse cursus efficitur metus ut efficitur. Fusce et tortor bibendum, pharetra ante at, rutrum urna. Morbi sagittis ligula a augue eleifend, at laoreet dolor fermentum. </p>
		</div>
	</body>
</html>
